.gradcake{
    float: center;
    width: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

.specialbody1{
    text-align: center;
}

.socialicons{
    height: 5vh;
}

.appicons{
    height: 5vh;
}

.mainmaclogo{

    display: float;
    float: left;
    height: 15vh;

}