.floral_logo{
    width: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;

}

.depparagraph{
    color: #7A7A7A;
    font-size: 20px;
    font-family: lato;
    margin-top:25px;
    margin-right: 25px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.5;
}

.specialbody1{
    text-align: center;
}

.footer{
    background-color: #1A2352;
    color: white;
    font-size: 15px;
    width: 100%;
    height: 20vh;
    position:relative;
    display: flex;
    align-items:center;
    float: left;
    bottom: 0em;
    justify-content:space-around;
    line-height: 20pt;
}

.socialicons{
    height: 5vh;
}

.appicons{
    height: 5vh;
}

#title{
    font-family: Lobster-Regular;
    font-size: 35px;
    color: #203153;
}

.mainmacklogo{
    height: 15vh;
}
