.deptopparagraph{
    color: #7A7A7A;
    font-size: 20px;
    font-family: lato;
    margin-top:25px;
    line-height: 1.5;
}

.topmacklogo{
    height: 10vh;
}

.socialicons{
    height: 5vh;
}

.appicons{
    height: 5vh;
}

.mainmacklogo{
    height: 15vh;
}