.signinheadermacks{
    height: 70%;
}

.description{
    padding-left: 5%;
    font-size: 20px;
    color: #7A7A7A;
}

.img1{
    display: float;
    float: right;
    width: 37%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.img2{
    width: 45%;
    padding-left: 5%;
    padding-bottom: 2%;
}

.signinfootermacks{
    height: 6em;
}

.appicons{
    height: 5vh;
}

.socialicons{
    height: 5vh;
}

@media screen and (max-width: 980px) {
    .img2{
        width: 90%;
        padding-bottom: 2%;
    }
}