.socialmediaicons{
    height: 2vh;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left-box{
    flex: 0 1 24%;
    width: 50%;
    background-color: rgb(237, 237, 237);
    margin-bottom: 2em;
    color: #54595F;
    font-family: lato;
    align-items: left;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}

.right-box{
    flex: 0 1 30%;
    width: 25%;
    margin-bottom: 2em;
    font-family: lato;
    align-items: left;
    margin: 4%;
}

.signintitle{
    font-family: Lobster-Regular;
    font-size: 35px;
    color: #203153;
}

.logininfo{
    padding-left: 10%;
}

.text input[type=text]{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: black;
}

.signinbutton{
    background-color: #203153; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 100px;
    border-radius: 3px;
}

.signinheadermacks{
    height: 70%;
}

.signinfootermacks{
    height: 6em;
}

.appicons{
    height: 5vh;
}

.socialicons{
    height: 5vh;
}

@media screen and (max-width: 600px) {
    .left-box {
        flex: 0 1 70%;
        justify-content: center;
    }

    .right-box {
        flex: 0 1 100%;
        justify-content: space-evenly;
    }
  }