h1, h2{
    font-family: lato;
}

.container{
     background-color: aliceblue;
     height: 120vh;
     width: 100vw;
     justify-content: space-around;
     align-content: space-around;
}

.header{
    background-color: #203153;
    width: 100vw;
    height: 20vh;
    position:relative;
    display:flex;
    align-items: center;

}

.headerlogo{
    display: float;
    float: left;
    height: 100px;
}

.footer{
    background-color: #203153;
    width: 100vw;
    height: 20vh;
    position:fixed;
    display:flex;
    bottom:0px;
    left: 0px;

}

.card{ 
    width: 40%;
    flex: 0 1 calc(20% - 2em);
    background-color: white;
    color: #54595F;
    font-family: lato;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;

}

.cardbox{
    padding: 2px 16px;
    height: 40%;
    
}

.imgd{
    width: 100%;
}

.depimg{
    max-width: 100px;
    height: auto;
}

@media screen and (max-width: 60em ){
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card{
        flex: 0 1 calc(50% - 1em);
    }

}

@media screen and (max-width: 40em ){
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card{
        flex: 0 1 calc(100% - 1em);
    }

}