.container{
     /* lol */
     background-color: aliceblue;
     height: 100vh;
     width: 100vw;
     position: relative;
}

.header{
    background-color: #203153;
    width: 100vw;
    height: 20vh;
    position: absolute;


}

.img{
    display: float;
    float: left;
    width: 10vh;
    height: 20vw;



}