.container{
     /* lol */
     background-color: aliceblue;
     height: 100vh;
     width: 100vw;
     position: relative;
}

.header{
    background-color: #203153;
    width: 100vw;
    height: 20vh;
    position: absolute;
    display:flex;
    align-items: center;


}

.headerlogo{
    display: float;
    float: left;
    height: 100px;

}

.card{
    width: 40%;
    flex: 0 1 calc(25% - 1em);


}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cardbox{
    padding: 2px 16px;
    height: 300px;

}

.imgd{
 
}