footer .footer-nav-container {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire*/
}
/*Gold Theme Footer CSS */
/*DESKTOP STYLES */
footer p {
  margin: 0 0 12px 0;
}
body .push {
    height: 0;
}
 footer {
    min-height: 175px !important;
    padding: 54px 0 54px 0 !important;
  }
  .home footer, .blog footer, .category footer, .single footer {
    min-height: 175px !important;
    padding: 0 0 54px 0 !important;
  }
  .home .push, .blog .push, .category .push, .single .push {
    height: 0;
    display: none;
  }
  footer .footer-nav-container {
    width: 100% !important;
  }

@media (min-width: 992px) {
  footer .footer-content {
    padding: 0 !important;
  }
  footer .footer-content.flour-sack .footer-location {
    text-align: center !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  footer .footer-nav {
    min-width: 992px;
    max-width: 1200px;
    margin: 0 auto;
  }
  footer .footer-nav .footer-menu-col-2 {
    margin-top: 0 !important;
  }
  footer .menu-footer-menu-col-1-container ul, footer .menu-footer-menu-col-2-container ul, footer .menu-footer-menu-col-3-container ul, footer .menu-footer-menu-col-4-container ul {
    display: block;
    width: auto !important;
  }
  footer .footer-logo img { /* Sets Height of Footer Logo in Customizer */
    width: auto !important;
  }
  .footer-content {
    width: 100%;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: justify;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
  .footer-nav {
    width: 100%;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: justify;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 25%;
    padding: 0 8px 8px 8px;
  }
  .footer-utility {
    background: rgba(212, 212, 212, 0.00);
    width: 100%;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: justify;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
  .footer-content.flour-sack h5 {
    padding: 8px 0 0 0;
  }
  .footer-content.simply-good .footer-col-2 {
    margin-left: 50px;
  }
  footer .simply-good .download-app h5 {
    padding-top: 16px;
  }
  footer .sweet-potato .download-app {
    padding-top: 16px;
    width: 100%;
  }
  footer .flour-sack .footer-utility > div:first-child, footer .new-theme .footer-utility > div:first-child {
    margin-right: 16px;
  }
  footer .flour-sack .footer-utility > div:nth-of-type(2), footer .new-theme .footer-utility > div:nth-of-type(2) {
    margin-left: 16px;
  }
	footer .flour-sack .footer-utility > div:first-child, footer .new-theme .footer-utility > div {
		width: 50%;
	}
	footer .new-theme .footer-utility .download-app-link-container > div {
		width: 50%;
	}
	footer .new-theme .footer-utility .download-app img { /*adjusted below 1200px*/
		max-width: 100px !important;
	}
	footer .new-theme  .footer-utility {
		margin: 0 auto; width: 45% !important;
		display: flex !important;
	flex-direction: row;
    align-content: center;
    justify-content: center;
	}
	footer .new-theme .footer-utility > div.download-app {
    display: flex !important;
	flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
	footer .new-theme .footer-utility .download-app img {
		max-width: 120px !important;
	}
}
@media (max-width: 991px) {
	footer .flour-sack .download-app-link-container, footer .new-theme .download-app-link-container {
		align-items: center;
		justify-content: center;
	}
}

footer ul.social-links {
  position: relative;
  top: 0 !important;
  margin-right: 20px;
}

footer ul.social-links li {
    margin: 0 4px;
}

footer .footer-nav-container {
  padding: 16px 32px;
}
footer .simply-good .footer-nav-container {
    padding: 16px 4px;
}
footer .footer-logo {
  width: 100% !important;
}
footer .footer-content.new-theme .footer-logo {
  padding: 16px 0 0 0;
}
@media (min-width: 992px) {
  footer .footer-content.flour-sack .footer-nav {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .footer-content.flour-sack .footer-nav div.footer-nav-col {
    width: 100%;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  footer .footer-content.flour-sack .footer-col-newsletter {
    flex: 1;
    padding: 0 16px 16px 16px;
  }
  footer .footer-nav-container h5.newsletter, footer .footer-utility h5.newsletter {
    text-align: left;
  }
}
footer .footer-content.flour-sack .footer-logo {
  padding: 0;
}
footer .footer-content.flour-sack .footer-logo-icon img {
  height: 100px;
	width: auto !important;
}
footer .footer-content.flour-sack .footer-logo-icon { /*Works with BG Image bottom:0 */
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  z-index: 1;
}
footer .footer-content.flour-sack .footer-logo-icon.bgcolor { /*Works with BG Color No Image top:0 */
  z-index: 1;
}
footer .footer-content.flour-sack div.footer-nav-container {
  width: 100%;
}
footer .footer-content.flour-sack .footer-logo-icon.bgcolor img {
  /*margin-top: 0 !important;*/
}
footer .footer-content.flour-sack .social-links li a span:first-child {}
.footer-logo-icon-bg {
  position: relative;
  z-index: 2;
  padding: 50px;
  margin-bottom: -12px;
  width: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: justify;
  align-content: center;
  text-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-utility {
  padding: 8px 0 16px 0;
}
footer .footer-logo img {
  width: auto !important;
}
.footer-nav {
  width: 100%;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: justify;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.download-app-link-container {
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: justify;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.download-app {
  width: 100%;
}
.download-app img {
  max-width: 125px;
}
ul.footer-menu-col {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.footer-menu-col li {
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  footer .footer-logo {
    left: 0 !important;
  }
}
h5.no-title {
  display: none;
  visibility: hidden;
}
body footer #footer-store-address .store-name {
  margin: 0;
}
body footer #footer-store-address {
    padding: 8px 0; 
	font-size: 16px;
    line-height: 1.25em;
  }
body footer .new-theme #footer-store-address {
    padding: 16px 0 0 0; 
	margin: 8px;
  }
body footer .flour-sack #footer-store-address {
    padding: 8px 0; 
	margin: 12px 0 0 0;
  }
/*MOBILE STYLES */
@media (max-width: 991px) {
 
  footer ul.footer-menu-col {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer {
    padding: 16px 0 54px 0 !important;
  }
  footer .footer-content {
    padding: 0 !important;
  }
  .footer-nav {
    width: 100%;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: justify;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-utility {
    background: rgba(212, 212, 212, 0.00);
  }
  .footer-content h5 {
    padding: 8px 0 0 0;
    text-align: center;
  }
  footer .social-container {
    padding: 0 0 8px 0;
  }
  footer .footer-nav .footer-logo {
    padding: 0 16px 0 16px;
  }
  .footer-content.new-theme {
    text-align: center;
    padding: 16px 0 0 0;
  }
	
}
body footer .footer-menu-col li a {
    font-size: 16px;
	}
/* style social media containers */
.download-app-link {
  padding: 0 8px 8px 8px;
}
/*Flour Sack Footer*/
footer .flour-sack .footer-nav-container {
  padding: 16px 0 0 0;
}
footer .flour-sack .footer-utility {
  padding: 0;
}
@media (min-width: 992px) {
  footer .flour-sack .nav-col-wrap.left {
    width: 55%;
    margin: 0;
  }
	footer .flour-sack .nav-col-wrap.right {
    width: 45%;
    margin: 0;
  }
  footer .flour-sack .nav-col-wrap.left {
    display: flex;
  }
  footer .flour-sack .nav-col-wrap .footer-col-1, footer .flour-sack .nav-col-wrap .footer-col-2, footer .flour-sack .nav-col-wrap .footer-col-3, footer .flour-sack .nav-col-wrap .footer-col-4 {
    width: 50%;
  }
  footer .flour-sack .nav-col-wrap-row {
    display: flex;
  }
  footer .flour-sack .download-app h5 {
    text-align: left;
  }
  .fp-core .fp-phone-country, .fp-core .fp-text-input, .fp-core textarea, .fp-mailing-list-sign-up input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=button])[type=email].fp-register-email {
    border-radius: 4px 0 0 4px;
    padding: 13px 20px;
	  height: 50px;
  }
  .fp-mailing-list-sign-up button.fp-register-email, .fp-mailing-list-sign-up button.fp-register-email:hover {
    border-radius: 0 4px 4px 0;
	  height: 50px;
  }
}

/*COPYRIGHT*/
footer .copyright ul.footer-menu-copyright {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer .copyright ul.footer-menu-copyright li { 
}


@media (min-width: 992px) {
	footer .copyright {
	  align-items: center;
	  justify-content: center;
	  display: flex;
	}
	footer .flour-sack .nav-col-wrap .footer-col-newsletter {
	  margin: 0 32px;
	}
	footer .flour-sack .nav-col-wrap .footer-col-newsletter .fp-register-inputs {
	  max-width: 476px;
	}
	footer .flour-sack .nav-col-wrap-row .download-app-link-container {
	  max-width: 400px;
	}
	  .footer-content.simply-good .download-app-link, .footer-content.flour-sack .download-app-link, .footer-content.sweet-potato .download-app-link {
		padding: 0 8px 8px 0;
		  width: 50%;
	  }
	.footer-content.simply-good .download-app-link img, .footer-content.flour-sack .download-app-link img, .footer-content.sweet-potato .download-app-link img {
		padding: 0 4px 8px 0;
		  width: 100%;
	  }
	footer .sweet-potato .download-app-link-container {}
	footer .copyright ul.footer-menu-copyright {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	footer .copyright ul.footer-menu-copyright li a:before { 
	content: "|";
	padding: 0 4px;
	margin: 0 4px;
		color: white;
}
}
@media (max-width: 991px ) {
	body footer .copyright {
		height: auto;
    line-height: 24px;
		display: flex !important;
        flex-direction: column;
    align-items: center;
    min-height: 54px;
    justify-content: center;
	}
	footer div.menu-footer-menu-copyright-container {
		display: flex;
		flex-direction: row;
	}
	footer .copyright ul.footer-menu-copyright {
		display: flex;
		flex-direction: row;
	}
	footer .copyright ul.footer-menu-copyright li:first-child a:before { 
	content: " ";
	padding: 0;
	margin: 0;
}
	footer .copyright ul.footer-menu-copyright li a:before { 
	content: "|";
	padding: 0 4px;
	margin: 0 4px;
}
}

